 #container
 {
     width: 500px;
     background-color: black;
     margin: 0 auto;
 }
 div {
     background-color: aquamarine;
     height: 30px;
 }
 div.test{
     background-color: deeppink;
 }
 div.test:hover{
     height: 300px;
 }